table {
    display: table;
    border-spacing: 2px;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: 0;
    width:100%;
}

th, td {
    text-align: left;
    padding: 8px;
}
th{
    font-size: larger;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
img{
    width: 100px;
    border-radius: 120px;
}

input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
}


form{
    width:50%;
    border: solid 1px grey;
}
form label{
    font-size: larger;
}
ul.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav-list {
    float: left;
}

li.nav-list a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav-list a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}